main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #0077b6;
    margin-bottom: 20px;
}

#my-tickets {
    margin-bottom: 80px;
}

.new-ticket-button {
    display: inline-block;
    margin-left: auto;
    padding: 6px 15px;
    background-color: #0077b6;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filters label {
    font-size: 16px;
    margin-right: 5px;
}

.filters select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#priority-filter {
  margin-right: 20px; /* Add this line to add space to the right */
}

.filters button {
  font-size: 16px;
  padding: 6px 15px;
  background-color: #0077b6;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  margin-right: 10px;
}

#add-department, #add-status {
  padding: 1px 5px;
  margin-left: auto;
  margin-right: 20px;
}

.filter-container {
    position: relative;
}

.filter-container > div {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
}

.ticket-container {
    margin-top: 10px;
    position: relative;
}

.ticket-container.open-form {
    margin-top: 70px; /* Adjust the value as needed to make space for the forms */
}

.ticket {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ticket h3 {
    margin-top: 0;
    color: #0077b6;
}

.ticket-info {
    margin-bottom: 10px;
}

.ticket-info span {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

.ticket-summary {
    font-size: 16px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content:left;
}

.button-group button {
    font-size: small;
    padding: 2px 8px; /* Adjust the padding as desired */
    margin-right: 5px; /* Add space between the buttons */
    margin-left: 0;
    margin-top: 1px;
}

#new-department-input,
#new-status-input {
    font-size: smaller;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: 10px;
}

#new-department-input::placeholder,
#new-status-input::placeholder {
    color: #999;
}

