main {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 900px;
    margin-bottom: 100px;
}
  
main h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0077b6;
}

form {
    display: flex;
    flex-direction: column;
}
  
form label {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0077b6;
}

form input[type="text"], form textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: auto;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}
  
form textarea {
    resize: none;
    height: 200px;
    align-items: center;
}
  
form select {
    width: 25%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    margin-right: 40px;
}

form input[type="submit"] {
    font-size: 18px;
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    display: block;
}

form button {
    font-size: 16px;
    background-color: #0077b6;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    margin-top: 10px;
}

.error {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

form div:not(:last-child) {
    margin-bottom: 20px;
}

.form-answer {
    position: relative;
}

.add-faq {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
}

.add-faq a {
    text-decoration: underline;
    color: #0077b6;
    font-weight: bold;
}

.hashtag {
    border-top: #ccc 1px solid;
    display: inline-block;
    margin-right: 4px;
    margin-top: -15px;
}

.remove-hashtag {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #0077b6;
    cursor: pointer;
    margin-right: 4px;
    margin-left: -8px;
}

#hashtags-input {
    width: 50%;
    margin-right: 5px;
}

#hashtags-autocomplete {
    width: 100%;
    max-height: 200px;
    margin-top: 2px;
    cursor: pointer;
}

#hashtags-autocomplete .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

#hashtags-autocomplete .autocomplete-item.active {
    background-color: #0077b6;
    color: #fff;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    main {
        padding: 30px;
        margin: 30px auto;
    }

    main h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    form select {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    form input[type="text"],
    form textarea {
        font-size: 14px;
        padding: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    form textarea {
        height: 150px;
    }

    form input[type="submit"],
    form button {
        font-size: 16px;
        padding: 8px 15px;
    }

    .hashtag {
        margin-top: -10px;
    }

    #hashtags-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
    }
}
