main {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

main h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0077b6;
}

table tr th {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

table tr td {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

label {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    align-items:self-start;
    color: #0077b6;
    flex-basis: 200px; /* Adjust the width as needed */
    text-align: right;
}

.form-group {
    display: flex;
    align-items:self-start;
    margin-bottom: 20px;
}

select, input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    flex: 1;
}

select {
    margin-right: 10px;
    max-width: 200px;
}

input[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    flex: 1;
    max-width: 50%;
    font-size: smaller;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #005b8a; /* Darker shade on hover */
}

button {
    display: inline-block;
    margin-left: auto;
    padding: 4px 10px;
    background-color: #0077b6;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    main {
        padding: 20px;
    }

    main h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    table tr th,
    table tr td {
        font-size: 16px;
        padding: 8px;
    }

    label {
        font-size: 16px;
        flex-basis: auto;
        text-align: left;
    }

    select,
    input[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }

    input[type="submit"] {
        max-width: 100%;
        margin-bottom: 20px;
    }

    button {
        font-size: 14px;
        margin-left: 0;
    }
}
